/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";

$primary-color: #1abc9a;

label{
  font-size: 10pt;
}

.text-center{
  text-align: center;
}

.steps-header{
  background-color: #f5f6f8;
  margin-bottom: 30px;
  min-height: 100px;
}
.steps-title {
  font-size: 32pt;
  text-align:center;
  float: none;
  margin: 0 auto;
}
.steps-container {
  background-color: #f7f8f9;
  min-height: 100px;
}

.active-step {
  color: $primary-color;
}
.inactive-step {
  color: #bdc2c6;
}

.step-line {
  width: 30px;
  display: inline-block;
  height: 1px;
  background:#cccccc;
  border: 0;
  margin: 0 9px;
}
.inputs-container {
  background-color: #f7f8f9;
  float: none;
  margin: 0 auto;
  padding: 40px;
}
.inputs-container-blank {
  background-color: #fff;
  float: none;
  margin: 0 auto;
  padding: 40px;
}
.search-label{
  margin-bottom: 10px;
}
.btn-search{
  color: white;
  background-color: #e37f22;
  margin-left: 10px;
  font-size: 10pt;
  height: 38px;
}
.btn-next{
  color: white;
  background-color: #00ae69;
  text-transform: uppercase;
  height: 42px;
  font-size: 8pt;
  margin-top: 20px;
}
.completed-container{
  margin-top: 200px;
  i{
    color: $primary-color;
  }
}